.jumbotron{
    height: 300px;
    color: black;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
   
}

body{
background-color: white;
background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
}

.carousel_image_1{
    height: 10px;
}