.jumbotron{
    height: 300px;
    color: black;
    background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
   
}

body{
background-color: white;
background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
}

#stats{
    margin-left: 300%;
}


    